

.upper_container{
  display: block;
}

.search_container {
  display: block;
  margin-right: auto;
  margin-left :auto;
  margin-top: 30px;
  width: 30%;
}


.deal_container{
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
  border : 2px solid #eeeeee; 
  margin-bottom: 10%;
  padding:0px;

}

.show_container{
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    border : 2px solid #eeeeee; 
    margin-bottom: 10%;
    padding-left:5%;
    
}

.form-group{
  display: inline-block;
}


.dealImg{
  width:100%;
  display : block;
  margin: 0 auto;
}

.showImg{
  display : block;
  padding:0px;
  width:100%;
  border-radius:5%;
}

.imgContainer{
  border:2px solid #1B4564 ;
  padding:0px;
  margin-bottom:5%;
  border-radius:5%;
}

.dealTitle{
  text-align:center;
  font-family: 'Neucha';
  font-size:20px;
  margin-top:25px;
  margin-right:5px;
  margin-left:5px;
  margin-bottom:5%;
  min-height:115px;   
}


.showTitle{
  font-family: 'Open Sans';
  font-size:25px;
  margin-top:25px;
  margin-bottom:3%;
  font-weight:bold;
  color:#1B4564 !important; 
}

.showDescription{
  text-align:center;
  font-family: 'Neucha';
  font-size:20px;
  margin-bottom:5%;
  margin-top:3%;
}

.showPrices{
  margin-top:5px;
}

.verMas{
  margin-top:20px;
  text-align: center;
}
.linkPagina{
  color:#1B4564;
  font-family: 'Open Sans';
  font-size:16px;
  text-align:center;
  font-weight: bold;
}

#title-container{
  margin-top: 30px;
  border-radius: 5px;

}
#title-span{
  vertical-align:middle
}


.dealPrice{
  color:#87cac3;
  font-family: 'Neucha';
  font-size:25px;
  font-weight: bold;
  float:left;
}
.showPrice{
  color:#87cac3;
  font-family: 'Neucha';
  font-size:25px;
  font-weight: bold;
  float:left;
  text-align:center;
}

.botonVerMas{
  background-color:#eeeeee;
  color:#000000;
  font-family: 'Open Sans';
  border-color:#eeeeee;
  float:right;
}


.botonSubmit{
  background-color:#87cac3;
  
}

.glyphicon-search{
  color:#ffffff;

}

.infoAbajo{
  margin-bottom:5%;
}

.publicado{

  color:#1B4564;
  font-family: 'Open Sans';
  font-size:14px;
  text-align:center;
  font-weight: bold;
  margin-top:3%;
  
}

.navbar{
  background-color: rgba(0,0,0,0);
  border-color:rgba(0,0,0,0);
  margin-top:3%;
  margin-bottom:3%;


}

.navbar-brand{

  font-family: 'Crushed';
   font-size:50px;
   text-align:center;
   color:#1B4564 !important;
 
}


.botonSubmit:focus,
.botonSubmit:active,
.botonSubmit:hover
{
  background-color:#87cac3;
  border-color:#87cac3;
  color:#FFF;
}






#dropdownMenu1{
  
  color:#1B4564;
  font-family: 'Open Sans';
  font-size:14px;
  border-radius:4px;
  border: 1px solid #cccccc;
  padding:6px 12px;

}

#dropdownMenu1:focus,
#dropdownMenu1:active,
#dropdownMenu1:hover
{
  
 background-color:#87cac3;
  border-color:#87cac3;
  color:#FFF;

}


.navbar-nav{
  margin-top:8px;

}
.bought_container{
 .bought_circle{
  color: orange;
  font-family: 'Neucha';
  width: 100px;
  border-radius: 145px;
  height: 100px;
  position: absolute;
  right: 10px;
  text-align: center;
  padding-top: 2%;
    .bought_amount{
      font-size: 26px;
    }
    .bought_title{
      font-size: 13px;
    }
  } 
}


@media screen and (max-width: 767px) {
  .navbar-brand{
    font-size:45px; 
  }
  
  .dealTitle{
    min-height: 55px;
  }
  .showTitle{
    text-align:center;
  }
}