<!DOCTYPE html>
<html>
<head>
	  <title>Ofertas</title>
	  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Crushed' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
	  <link href="/assets/deals.css.scss" rel="stylesheet">

</head>
<body>

<%= yield %>

</body>
</html>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

